<!DOCTYPE html>
html
    head    
        meta(charset="utf-8")
        title Техномарт
        link(href="css/normalize.css" rel="stylesheet")
        link(href="css/symbols-technomart.css" rel="stylesheet")            
        link(href="css/style.css" rel="stylesheet")

    body  
        header.main-header
            div.top-menu.clearfix
                div.top-menu__layout
                    a(href="index.html")
                        h1.top-menu.logo ТЕХНОМАРТ 
                    ul.rules.clearfix 
                        li
                            input(type="text" placeholder="Поиск:" name="search").rules__search 
                            i.icon-search                                 
                        li
                            div.rules__issue-order 
                                a(href="#") Оформить заказ                    
                        li
                            a(href="#").rules__basket
                                i.icon-basket
                                Корзина:                
                                span.basket__count 0
                        li
                            a(href="#").rules__tab 
                                i.icon-bookmark
                                Закладки:                 
                                span.tab__count 0
            div.header-info.clearfix
                div.header-info__layout
                    p.header-info__content.             
                        Интернет-магазин
                        строительных материалов <br>             
                        и инструментов для ремонта
                    div.contacts
                        div.contacts__phone <i class="icon-phone"></i> +7 (812) 555-05-55
                        div.contacts__address                        
                            г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8                          
                    div.auth.auth--checkin.clearfix    
                        div.auth__layout
                            a(href="#").btn.btn--signup  Регистрация  
                            a(href="#").btn.btn--signin
                                i.icon-login 
                                Войти
                            ul.auth__menu
                                li 

            nav.main-menu.clearfix   

                div.main-menu__layout

                    -items = ["Главная","Компания","Каталог","Новости","Спецпредложения","Доставка","Контакты"]

                    ul.main-menu__items

                        each item in items 

                            li.main-menu__item 
                            
                                if item == "Каталог"
                                
                                    a(href="catalog.html") #{item}
                                
                                else

                                    a(href="#") #{item}
        main        
            div.top-block.clearfix
                div.top-block__layout
                    div.top-block__row1                
                        div.banner-card-goods.banner-card-goods--yellow
                            div.banner-card-goods__new
                            div.banner-card-goods__layout
                                div.banner-card-goods__content
                                    h3.banner-card-goods__header Материалы
                                    a(href="#").banner-card-goods__type На любой вкус
                                div.banner-card-goods__img.banner-card-goods__img--matherial                                     
                                    img(src="img/img_bucket.png" width="44" height="65" alt="Материалы").banner-card-goods__image    
                        div.banner-card-goods.banner-card-goods--blue
                            div.banner-card-goods__layout
                                div.banner-card-goods__content
                                    h3.banner-card-goods__header Инструмент
                                    a(href="#").banner-card-goods__type На все случаи 
                                div.banner-card-goods__img   
                                    img(src="img/img_drill.png" width="75" height="61" alt="Инструмент")                                    
                        div.banner-card-goods.banner-card-goods--pink
                            div.banner-card-goods__layout
                                div.banner-card-goods__content
                                    h3.banner-card-goods__header Техника
                                    a(href="#").banner-card-goods__type Для стройки  
                                div.banner-card-goods__img       
                                    img(src="img/img_tractor.png" width="78" height="62" alt="Техника").banner-card-goods__image                                   
                    div.top-block__row2
                        div.top-block__col1
                            div.slider  
                                img(src="img/img_slider_drill2.jpg" width="622" height="266" alt="Дрели соседям на радость").slider__image
                                div.slider__header                                                                            
                                    div.slider__layout 
                                        h4.slider__title Перфораторы
                                        p.slider__content Настроящие мужские игрушки                                
                                div.slider__layout                                                                                           
                                    div.slider__control.clearfix                                    
                                        a(href="#")
                                            i.icon-left
                                        a(href="#")    
                                            i.icon-right
                                    a(href="#").btn-lnk.btn-lnk--slider Открыть каталог
                                
                            
                        div.top-block__col2  
                            div.banner-card-goods.banner-card-goods--green
                                div.banner-card-goods__layout
                                    div.banner-card-goods__content
                                        h3.banner-card-goods__header Скидки 50%
                                        a(href="#").banner-card-goods__type на 350 товаров  
                                    div.banner-card-goods__img.banner-card-goods__img--discount                                            
                                        img(src="img/img_basket.png" width="59" height="72" alt="Скидки 50%")
                            div.banner-card-goods.banner-card-goods--yellow
                                div.banner-card-goods__layout
                                    div.banner-card-goods__content
                                        h3.banner-card-goods__header Доставка
                                        a(href="#").banner-card-goods__type Бесплатно 
                                    div.banner-card-goods__img                                           
                                        img(src="img/img_delivery.png" width="75" height="61" alt="Доставка")
            div.popular
                div.popular__layout.clearfix
                    div.popular__header.clearfix
                        h2.popular__title Популярные товары:
                        a(href="#").btn-lnk.btn-lnk--popular Все популярные товары
                    div.popular__items
      
                        div.goods  
                            div.goods-active
                                i.icon-basket
                                a(href="#").goods-active__buy Купить
                                a(href="#").goods-active__tab В закладки                        
                            div.goods__image
                                img(src="img/img_bosch_bfg9000.jpg" width="184" height="164" alt="Перфоратор BOSCH BFG 9000")                                
                            div.goods__layout
                                p.goods__title Перфоратор BOSCH BFG 9000
                                p.goods__price-old 32500 Р.
                                div.goods__price
                                    span 25500 Р.
                                    div.goods__price-label.goods__price-label--top
                                    div.goods__price-label.goods__price-label--bottom                                    
                        div.goods 
                            div.goods-active
                                i.icon-basket
                                a(href="#").goods-active__buy Купить
                                a(href="#").goods-active__tab В закладки                        
                            div.goods__image
                                img(src="img/img_bosch_bfg3000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 3000")
                            div.goods__layout
                                p.goods__title Перфоратор BOSCH BFG 3000
                                p.goods__price-old 22500 Р.
                                div.goods__price 
                                    span 15500 Р.       
                                    div.goods__price-label.goods__price-label--top
                                    div.goods__price-label.goods__price-label--bottom    
                        div.goods   
                            div.goods-active
                                i.icon-basket
                                a(href="#").goods-active__buy Купить
                                a(href="#").goods-active__tab В закладки                        
                            div.goods__image
                                img(src="img/img_bosch_bfg6000.jpg" width="144" height="128" alt="Перфоратор BOSCH BFG 6000")
                            div.goods__layout
                                p.goods__title Перфоратор BOSCH BFG 6000
                                p.goods__price-old 30500 Р.
                                div.goods__price 
                                    span 25500 Р.     
                                    div.goods__price-label.goods__price-label--top
                                    div.goods__price-label.goods__price-label--bottom                                        
                        div.goods  
                            div.goods-active
                                i.icon-basket
                                a(href="#").goods-active__buy Купить
                                a(href="#").goods-active__tab В закладки                        
                            div.goods__new
                            div.goods__image
                                img(src="img/img_bosch_bfg2000.jpg" width="127" height="112" alt="Перфоратор BOSCH BFG 2000")
                            div.goods__layout
                                p.goods__title Перфоратор BOSCH BFG 2000
                                p.goods__price-old &nbsp;
                                div.goods__price 
                                    span 12500 Р. 
                                    div.goods__price-label.goods__price-label--top
                                    div.goods__price-label.goods__price-label--bottom                                        
                div.brands
                    div.brands__layout.clearfix 
                        div.brands__header.clearfix
                            h2.brands__title Популярные производители:
                            a(href="#").btn-lnk.btn-lnk--popular Все производители   
                    
                        ul.brands__items
                            li.brands__item
                                a(href="#") 
                                    img(src="img/img_brand_bosch.jpg" width="126" height="88" alt="Bosch")
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_makita.jpg" width="123" height="88" alt="makita")                               
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_dewalt.jpg" width="146" height="88" alt="dewalt")   
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_interskol.jpg" width="200" height="88" alt="interskol")                                 
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_hitachi.jpg" width="169" height="88" alt="hitachi")                                  
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_lg.jpg" width="121" height="88" alt="lg")                                              
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_aeg.jpg" width="151" height="88" alt="aeg")                                            
                            li.brands__item
                               a(href="#") 
                                   img(src="img/img_brand_metabo.jpg" width="204" height="88" alt="metabo")                                                                      
                div.service
                    div.service__layout
                        div.service__header.clearfix
                            h2 Сервисы
                            p.
                                Хороший интернет-магазин отличается от плохого не только ценами!
                                Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
                                
                        div.service__content.clearfix
                            
                            div.service__items
                                div.service__border
                                ul                            
                                    li.service__item.service__item--active 
                                        button.btn__service.btn__service--active Доставка
                                    li.service__item 
                                        button.btn__service Гарантия
                                    li.service__item 
                                        button.btn__service Кредит

                            div.service__about 
                                div.service__col1
                                    h4 Доставка
                                    p. 
                                        Мы с удовольствием доставим ваш товар прямо<br> 
                                        к вашему подъезду совершенно бесплатно! <br>
                                        Ведь мы неплохо заработаем, <br> 
                                        поднимая его на ваш на этаж!
                                    img(src="img/img_delivery_car.png" width="468" height="261" alt="Доставка")
                                
                                    
               div.information
                    div.information__layout.clearfix
                        div.information__col1
                            h2.information__header КОМПАНИЯ «Техномарт»
                            p.information__content.
                               Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкномить на гастарбайтерах. 
                            p.information__content.                               
                                Мы можем доставить ваш товар в самые отдаленные точки России! <br>
                                Техномарт работает со многими транспортными компаниями: 
                            ul.information__list
                                li Деловые линии
                                li Автотрейдинг
                                li ЖелДорЭкспедиция                                
                            a(href="#").btn-lnk.btn-lnk--information Подробнее о компании
                            
                        div.information__col2
                            h2.information__header КОНТАКТЫ
                            p.information__content. 
                                Вы можете забрать товар сами, <br>
                                заехав в наш офис:
                            div.information__map
                                img(src="img/img_map.jpg" width="300" height="158" alt="Заблудились? Напишите нам!")
                            a(href="#").btn-lnk.btn-lnk--information2 Заблудились? Напишите нам!
        footer.main-footer
            div.main-footer__layout
                div.main-footer__row1.clearfix
                    a(href="index.html")
                        b.logo.logo--footer ТЕХНОМАРТ
                    ul.main-footer__menu
                        li 
                            a(href="#")
                                Компания
                        li 
                            a(href="#")
                                Новости
                        li 
                            a(href="catalog.html")
                                Каталог
                        li     
                            a(href="#")
                                Доставка
                        li      
                            a(href="#")
                                Контакты                                   
                    
                div.main-footer__row2.clearfix
                        p.
                            г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8 <br>
                            +7 (812) 555-05-55                        

                        ul.main-footer__menu.main-footer__menu--submenu
                            li
                                a(href="#")
                                    Материалы
                            li
                                a(href="#")
                                    Техника
                            li
                                a(href="#")
                                    Инструмент
                            li
                                a(href="#")
                                    Спецпредложения                                
            div.main-footer__row3
                div.main-footer__layout.clearfix
                    p.main-footer__copyright.
                        © 2010–2016 Компания «Техномарт» <br>
                        Все права защищены
                    ul.main-footer__social
                        li
                            a(href="#")
                                i(class="icon-vk")
                        li
                            a(href="#")
                                i(class="icon-facebook")
                        li
                            a(href="#")
                                i(class="icon-instagramm") 
                    div.main-footer__about.clearfix
                        div.main-footer__callback
                            p Обратная связь
                            a(href="mailto:mail@htmlacademy.ru") mail@htmlacademy.ru
                        div.main-footer__development
                            p Разработано —
                            a(href="http://htmlacademy.ru") htmlacademy.ru
        
                        
                
                        
            
            
            
        

            
                        
                
                
                
             

                  
            
              
            
          
    