@import "variables.less";

@font-face{
    
    font-family: "CuprumBold";
    src: url("../fonts/Cuprum-Bold.ttf");
    font-weight: normal;   
    font-style: normal;
    
}

@font-face{
    
    font-family: "CuprumRegular";
    src: url("../fonts/Cuprum-Regular.ttf");
    font-weight: normal;   
    font-style: normal;
    
}

@font-face{
    
    font-family: "CuprumItalic";
    src: url("../fonts/Cuprum-Italic.ttf");
    font-weight: normal;   
    font-style: normal;
    
}

@font-face{
    
    font-family: "PTSansRegular";
    src: url("../fonts/PTSans-Regular.ttf");
    font-weight: normal;   
    font-style: normal;
    
}

@font-face{
    
    font-family: "PTSansBold";
    src: url("../fonts/PTSans-Bold.ttf");
    font-weight: normal;   
    font-style: normal;
    
}

@font-face{
    
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadPro-Regular.otf");
    font-weight: normal;   
    font-style: normal;
    
}

/*  ------------- */


body{
    
    width: @width-body;
    margin: 0 auto;
    padding: 0 10px;
    
}

.layout(){

    margin: 0 auto;
    padding: 0 10px; 
    width: @width-main-layout;    
    
}



.icon-search,
.icon-bookmark,
.icon-basket,
.icon-phone,
.icon-user,
.icon-login,
.icon-logout,
.icon-home
{
    
    opacity: .3;
    margin: 0;
    float: left;
    padding-right: 12.5px;
    color: white;
     
}

.icon-up-dir:before
{
    
    margin:0;
    
}

.icon-login,
.icon-user,
.icon-logout,
.icon-home{
    
    color: @color-black;
    
}

.icon-search{
    
    position: absolute;
    left: 15px;
    top: 13px;
    
    z-index:100;
    
}

.icon-home{
    
    font-size: @font-size-base + 3px;
    line-height: @line-height - 4px;
    padding: 0;
    
}

.icon-user{
    
    font-size: 18px;
    line-height: 18px;
    padding: 0 9px;    
    
}

.icon-basket{
    
    padding-left: 14px;
    
}

.icon-bookmark{
    
    padding-left: 12px;
    padding-right: 10px;
    
}


.icon-login,
.icon-logout{
    
    padding-right: 10px;
    font-size: 22px;
    line-height: 18px;
    
}

.icon-logout{
    
    padding: 0;
    padding: 0;
    font-size: 22px;
    line-height: 18px;    
    
}


.icon-phone{

    color: @color-black;
    opacity: .3;
    font-size: (@font-size-base+9px);
    padding-top: 2px;
    padding-left:5px;
    padding-right: 34px;
}

.icon-up-dir,
.icon-down-dir{
    
    margin:0;
    
    font-size: ((@font-size-base + 10px));
    line-height: ((@line-height - 6px));
    
    opacity: .3;
    
}

.clearfix:after{
    
    display: table;
    content: '';
    clear: both;
    
}

.main-header{   
 
    background-color: @color-yellow-light;  
    /*margin-bottom: 59px;*/
    
}

.top-menu{
    
    width: @width-body;        
    background-color: @color-blue;
        
    &__layout{    
        
        .layout
        
    }
    
}


.logo{   


    position: relative;

    float: left;
    width: 220px;
    padding: 9px 0;    
    margin: 0;   

    text-align: center;
    text-transform: uppercase;            

    font: bold @font-size-h1/@line-height @font-family-cuprumbold;
    color: @color-white;
    background-color: @color-red;

    box-shadow: 0 5px 0 0 @color-claret;
    
    &:hover{
                
        background-color: @color-red2;        
        
    }
    
    &:active{
        
       background-color: @color-red-dark;         
        
    }
    
    &--footer {
        
        font: bold @font-size-h2/ ((@line-height + 6px))  @font-family-cuprumbold;  
        padding: 16.5px 0;
        
    }

}  

.rules{
    
    list-style-type: none;
    text-align: left;
    
    font: normal ((@font-size-base+4px))/ ((@line-height - 6px)) @font-family-cuprumregular;
    color: @color-white;  
    
    padding: 0;
    margin: 0;
    
    li:first-of-type{
        
        position: relative;
        float:left;
        
    }
    

    a{        
        
        color: @color-white;         
        text-decoration: none;
        
    }
    
    div{
        
        padding: 12px 0;   
        
    }   


    &__search{

           
        text-align: left;
        padding: 12px 0;
        padding-left:50px;
        width: 270px;
        box-sizing: border-box;
        border: 0;
        background-color: @color-blue;
        
        font: normal ((@font-size-base+4px))/ ((@line-height - 6px)) @font-family-cuprumregular;
        color: @color-white;  
        

    }
 

    &__tab{

        float: right;
        display: block;
        
        padding: 12px 0;  
        
        width: 145px; 
        margin-right: 5px;
        
        font: normal ((@font-size-base+4px))/ ((@line-height - 6px)) @font-family-cuprumregular;
        color: @color-white;    
        

    }

    &__basket{

        float: right;
        width: 150px;
        
        padding: 12px 0;  
                
        &--added{
        
            background-color: @color-red;
            color: @color-white;
        
        }
       

    }

    &__issue-order{
        
        float: right;
        background-color: @color-green;
        text-align: center;
        width: 150px;
        

    }
    

    &__search::-webkit-input-placeholder
    {
        
        color: @color-white;
        
    }    
    
    
    &__search:hover,
    &__tab:hover,
    &__basket:hover{
        
        background-color: @color-blue-dark2;  
        
    }
    
    &__issue-order:hover{
        
        background-color: @color-green-light;
        
    }    
    
    &__issue-order:active{
        
        background-color: @color-green-dark1;
        opacity: .6;
        
    }        

    &__tab:active{
        
        color: @color-green-dark1;        
        
    }
    
    &__tab:active,
    &__basket:active
    {
        
        background-color: @color-blue-dark3;
        opacity: .6;
        
    }  

    
    li:first-of-type:hover .icon-search,
    &__tab:hover .icon-bookmark,
    &__basket:hover .icon-basket{
    
        opacity: 1;
        
    }    
    
    &__search:focus{
        
        background-color: @color-white;
        color: @color-black;
        
        +.icon-search:before{
         
            color: @color-red !important;
            opacity: 1;
            
        }
        
    } 
    

}

.header-info{
    
    margin-bottom: 39px;

    
    &__layout{
        
        margin: 48.5px auto;
        padding: 0 10px; 
        width: @width-main-layout;   
        
    }
    
    &__content{
        
        float: left;
        width: 200px;
        padding: 0 53px;
        text-align: left;
        margin:0;
        
        font: italic ((@font-size-base+3px))/((@line-height - 1px)) @font-family-cuprumitalic;
        color: @color-red;        
        
        p{
            
            text-align: left;
            
        }
        
    }    
        
}

.contacts{
    
    float: left;
    
    width: 270px;
    padding: 0 17px;
    padding-right: 42px; 
    
    &__phone{
        
        padding: 7.5px 0;
                
        font: normal ((@font-size-base+8px))/((@line-height - 3px)) @font-family-cuprumregular;
        color: @color-red1;
        
        
        border: 3px solid @color-white;
        
        
    }
    
    &__address{
        
        padding-top: 6px;
        
        font: normal ((@font-size-base+1px))/((@line-height)) @font-family-cuprumregular;
        color: @color-blue-dark;        
        text-align: center;
        
    }  

    
}

.auth{
    
    float: right;
    width: 305px;
    height: 69px;
    
    &__layout{
        
        padding-left: 9px;
        
    }
        
    
    &__name{
        
        display: inline-block;
        vertical-align: top;
        padding-right: 27px;
        
        padding: 11px 0;
        
        background-color: @color-white;
        
        span{
            
            padding-right: 34px;
            
        }

        
    }
    
    &__name:hover .icon-user,
    &__name:hover .icon-logout{
        
        color: @color-blue-dark;
        opacity: 1;
        
    }
    
    &__name:active .icon-user,
    &__name:active .icon-logout,
    &__name:active
    {        
        
        color: @color-black;
        opacity: .3;
        
    }    
    
    a{
        
        display: inline-block;
        vertical-align: top;
               
        font: normal ((@font-size-base + 8px))/((@line-height - 6px)) @font-family-cuprumregular;
        color: @color-black;
        
        text-decoration: none;
        
        
    }
    
    
    &__menu{
                
        
        list-style-type: none;
        padding:0;
        margin:0;        
        padding-top: 7px;
        padding-left: 16px;
        height: 35.5px;
        
        float: left;
        
        a{
            font: normal ((@font-size-base + 3px)) /((@line-height - 6px)) @font-family-cuprumregular;
            text-decoration: underline;
            
        }
        
        li{
            
            display: inline-block;
            vertical-align: top;
                
        }
        
        li:after{
            
            content: "\2022";
            padding-left: 14.5px;
            padding-right: 12px;
        }       
        
        
        li:last-of-type:after{
            
            content: '';
        }       

        
    }
    
    &__history:hover a,
    &__profile:hover a{
        
        color: @color-red;
        
    }
    
    
    &__history:active a,
    &__profile:active a{
        
        color: @color-black;
        opacity: .3;
        
    }
}

.btn{
    
    padding: 7.63px 0;
        
    font: normal ((@font-size-base + 8px))/((@line-height - 3px)) @font-family-cuprumregular;
    color: @color-black;    
    
    border: 0;
    
    
    background-color: @color-white;
    
    &--signin{
        
        float:right;
        margin-right: 10px;
        width: 111px;
        text-align: left;
        padding: 11px 0;
        padding-left: 10px;
        
    }
    
    &--signup{
        
        float: right;
        width: 150px;
        text-align:center;
        padding: 11px 0;
        
    }
    
    &--signin:hover,
    &--signup:hover{
    
        color: @color-red;
        
    }
        
    &--signin:active,
    &--signup:active    
    {            
        
        color: rgba(0,0,0,.3);            
    }
        
    
        
    &--signin:hover .icon-login{
            
        opacity:1;
        color: @color-blue-dark;
            
    }
        
    &--signin:active .icon-login{
    
        opacity: .3;
        color: @color-black;
            
    }
    
    &--show-all{
        
        padding: 6px 0;
        
        
        width: 140px;
        
        text-align: center;
        text-transform: uppercase;
        
        font: normal @font-size-base/ @line-height @font-family-ptsansregular;
        color: @color-black;
        
        border: 1px solid @color-gray;
        border-radius: 5px;
        
        
        
        
        
    }
    
    &__service{    

            width: 240px;

            text-align: left;
        
            font: bold ((@font-size-base + 8px)) / ((@line-height + 6px)) @font-family-cuprumbold;

            padding: 14.5px 0;        
            padding-left: 23px;

            background-color: @color-blue-dark;        
            color: @color-white; 

            border: none;
            border-top: 1px solid @color-blue1;
            border-bottom: 1px solid @color-blue;
        
            outline: none;
        
    }
        
    &__service:hover{
            
        background-color: @color-blue; 
        color: @color-white;
        border: none;
        border-top: 1px solid @color-blue1;
        border-bottom: 1px solid @color-blue;        
        
            
    }
        
    &__service:active{
            
        background-color:  @color-white;
        color: @color-blue-dark;  
        border: none;
        border-top: 1px solid @color-white;
        border-bottom: 1px solid @color-white; 
            
    }        
    
    &__service--active{
        
        background-color:  @color-white;
        color: @color-blue-dark;
        border-top: 1px solid @color-white;
        border-bottom: 1px solid @color-white;        
        
    }
        
    
}

.main-menu{
    

    &__layout{
        
        .layout
        
    }
    
    &__items{    
        
        text-align: center;
        padding: 0;        
        margin-bottom: 60px;
       
        background-color: @color-blue-dark;
        border-bottom: 5px solid @color-blue;
            
        
    }    

    
    &__item{
        
        display: inline-block;
        vertical-align: top;
        text-align: center;        
        /* width: 127px;*/
        padding: 17px 28px;
        
    }
    
    &__item:hover{
        
        background-color: @color-blue;   
        
    }
    
    &__item:active {
        
        background-color: @color-blue;        
        
    }
    
    
    a{
        
        font: normal ((@font-size-base + 4px))/((@line-height - 3px)) @font-family-cuprumregular;   
        color: @color-white;          
        text-decoration: none;
        
    }
    
    &__item:active a{
        
        opacity: .5;
        
    }
    
        
    
}

.breadcrumbs{
    
    &__layout{
        
        .layout       
        
    }
    
    
    &__items{
        
        margin: 0;
        padding: 19px 0;
        
        list-style-type: none;  
        
        font-size: 0;
    
    }
    
    &__item{                  
            
        display: inline-block;
        vertical-align: top;
        
        a{
            
            text-transform: uppercase;
            font: normal @font-size-base / ((@line-height - 6px)) @font-family-ptsansregular;
            color: @color-black;
            text-decoration: none;
            
        }
        
        & .icon-right{
    
            margin: 0;
            padding: 0 10.6px;

            opacity: .3;
            font-style: normal;
            font-size: @font-size-base + 1px;
            line-height: @line-height - 4px;   
        
    
        } 
            
   
        &:first-of-type .icon-right   {

            padding:0;    
            padding-right: 12px;

        }        
        
        
     }        
    
    
}

.top-block{
    
    font-size: 0;
    margin-top: 58px;
    margin-bottom: 32px;
    
    &__layout{
        
        .layout
        
    }
    
    &__col1{
        
        float: left;  
        width: 610px;
        
    }
    
    &__col2{
        
        float:right;
        width: 300px;
        
    }        
            
    
}

.banner-card-goods{
    
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    width: 300px;
    height: 123px;
    
    margin-right: 20px;
    margin-bottom: 20px;
    
    font-size: 0;
    color: @color-white;
    
    &__layout{
       
        margin: 0 27px 26px 25px;
        padding: 0;
        
    }   
    
    &__new{
    
        position: absolute;
        top:0;
        right:0;
        
        z-index: 100;
        
        display: inline-block;
        vertical-align: top;
        width: 60px;
        height: 59px;
        
        background: url(../img/img_new.png) 2px 0 no-repeat;
        background-size: 60px 59px;
        
    }

    
    &:last-of-type{        

        margin-right:0;    
        
    } 

    
    &--yellow{
        
        background-color: @color-yellow1;        
        
    }
    
    &--blue{
        
        background-color: @color-blue-light; 
        
    }   
    
    &--pink{
        
        background-color: @color-pink; 
        
    }
    
    &--green{
        
        background-color: @color-green1; 
        
    }    
    
    &__content{
        
        float: left;
        
    }
    
    &__header{
        
        font: bold ((@font-size-base + 11px))/@line-height @font-family-cuprumbold;           
        
        margin-bottom: 15px;
        
    }    
    
    &__type{
        
        display: block;
        
        padding: 7px 0;
        width: 135px;
        
        text-align: center;
        
        font: normal ((@font-size-base))/@line-height @font-family-cuprumregular;
        color: @color-white;
        
        text-transform: uppercase;
        text-decoration: none;
        
        background-color: rgba(0, 0, 0, .1); /* @color-brown; */
        
        border: 1px solid transparent;
        border-radius: 5px;     
        
    }
    
    &__type:hover{
        
        background-color: rgba(0, 0, 0, .2); /* @color-brown; */
        
    }
    
    &__type:active{
        
        background-color: rgba(0, 0, 0, .3); /* @color-brown; */
        
    }
    
    &__img{
        
        float: right;
        display: block;
        
        padding-top: 31px;
        padding-bottom: 20px;  
        
        width: 78px;
        height: 75px;
        
        text-align: right;
        
    }    
    
    &__img--matherial{
        
        padding-right:16px;
        
    }
    
    &__img--discount{
        
        padding-right:12px;
        
    }    
    
    
}

.slider{
    
    width: 622px;
    height: 266px;
    position: relative;
    
    
    color: @color-white;
    
    &__layout{
                
        padding: 0 25px;

        
    }
    
    .icon-left,
    .icon-right{

        font-style: normal;
        font-size: ((@font-size-base + 32px));
        line-height: ((@line-height - 6px));   
        margin: 0;

    }


    .icon-left:before {

        float: left;
        margin: 0;
        text-align: left;    

    }

    .icon-right:before {

        float: right;
        margin: 0;
        text-align: right;     

    }
    
    img{
        
        position: absolute;
        top:0;
        left:0;
        
        z-index: -100;
        
    }
    
    &__header{
        
        width: 622px;
    
        background-color: rgba(0,0,0, 0.3);
        background: url(../img/img_slider_shadow.png) 0 0 no-repeat;
        padding: 25px 0 23px 0;
        
        margin-bottom: 4px;
        
    }
    

    &__title{   

        margin:0;
        
        text-transform: uppercase;
        font: bold @font-size-h4 / ((@line-height + 6px)) @font-family-cuprumbold;         
        margin-bottom: 7px;
            
    }
    
    &__content{
        
        font: normal ((@font-size-base + 5px)) / @line-height @font-family-ptsansregular;
        margin: 0;
        
    } 
    
    &__control{
        
        margin-bottom: 44px;
        
        a{
            
            color: @color-white;
            
        }
        
    }

    
}


.slider-price{
    
    width: 220px;
    
    &__control-panel{
                
        height: 80px;
        margin-bottom: 9px;
        background-color: @color-yellow2; 
        border-radius: 0 0 5px 5px;
        position: relative;
    }
    
    &__control-line{
        
        position: absolute;
        top:42px;
        left:30px;        
        
        background-color: @color-gray4;
        
        height: 1px;
        width: 180px;
        
    }
    
    &__control-line--active{
        
        width: 140px;
        
        background-color: @color-green2;
        
    }
    
    &__disc{
        
        position: absolute;
        
        top:32px;
        width: 21px;
        height: 20px;
        border-radius: 50%;
        background-color: @color-white;
        box-shadow: 0 2px 0 0 @color-brown2;
        
    }    
    
    &__point{
        
        position: absolute;
        
        top:41px;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: @color-brown1;
        
        
    }
    
    &__point--min{
        
       left: 30px;
        
    }
    
    &__point--max{
        
      left: 168px;  
        
    }
    
    &__disc--min{
        
       left: 21px;
        
    }
    
    &__disc--max{
        
      left: 159px;  
        
    }
    
    &__means{
        
        font: normal ((@font-size-base + 4px))/((@line-height - 6px)) @font-family-ptsansregular;
        color: @color-black;        
        
    }
    
    &__means-min{
        
        float: left;
        
        padding: 7px 0 13px 0;
        
        height: 18px;
        width: 95px;
        
        background-color: @color-yellow2; 
        border-radius: 4px;
        text-align: center;        
        
        input{
            
            padding-left:10px;
            
            background: none;
            border:0;
            width: 100%;
            text-align: center;
            
            box-sizing: border-box;
            outline: none;
            
        }       
        
        input:active{
            
            border:none;
            
        }        
        
    }
    
    &__means-max{
        
        float: right;
        padding: 7px 0 13px 0;
        
        height: 18px;
        width: 95px;
        
        background-color: @color-yellow2;
        border-radius: 4px;
        text-align: center;       
        
        input{
            
            padding-left:10px;
            
            background: none;
            border:0;
            width: 100%;
            text-align: center; 
            
            box-sizing: border-box;
            outline: none;     

            
        }   
        
        input:focus{
            
            border:none;
            
        }
        
    }    
    
    
}

.popular{
    
    &--gray{
                        
        background-color: @color-gray3; 
        
    }
    
    &__layout{        
        
        .layout
        
    }    
    
    &__header{
        
        background-color: @color-yellow2;          
        
        
    }
    
    &__header--goods-name{
        
        background-color: @color-gray3; 
        margin-bottom: 19.5px;
        
    }    

    
    &__title{
        
        
        font: normal @font-size-h2 / ((@line-height + 6px)) @font-family-cuprumregular;
        text-transform: uppercase;
        color: @color-blue-dark;
        float: left;  
        margin: 0;
        padding: 29.5px 0;
        padding-left: 29px;        
       
    }
    
    &__title--about{
                
        padding-left:0;
        padding-top: 65px;
        padding-bottom: 24px;
    }
    
    &__items{
        
        text-align: center;
        font-size:0;

        
    }  
    
    &__text{
        
        clear: both;
        margin-bottom : 75px;
        
        font: normal @font-size-base/ @line-height @font-family-ptsansregular;
        color: @color-black;
        
    }
    
    &__text--about{
        
       margin-bottom: 68px; 
        
    }
    
    
}


.btn-lnk{
    
    display: inline-block;
    padding:10px;
    
    text-align: center;
    color: @color-white;
    text-decoration: none;
    font: normal ((@font-size-base + 1px)) / ((@line-height - 6px)) @font-family-cuprumregular;
    text-transform: uppercase;
    
    border: 1px solid transparent;
    border-radius: 5px;
    
    background-color: @color-red;
    
    &--slider{
        
        width: 176px; 
        
    }
    
    &--slider:hover{
        
        background-color: @color-red2;    
        
    }
        
    &--slider:active{
        
        background-color: @color-red-dark;    
        
    }        
    
    &--popular{
        
        float: right;
        margin: 25.5px 0;
        margin-right: 22px;
        width: 230px
        
    }
    
    &--information{
        
        width: 200px;
        
    }
    
    &--information2{
        
        width: 280px;
        
    }    
    
    
}
 

.goods-active{
    
    
    display: none;
    position: absolute;
    top: 29px;
    left: 0; 
    
    background-color: @color-white;
    
    padding: 15px 40px;
    
    &--active{
        
        display: block;
        
    }
    
    & .icon-basket{
        
        padding:9px 0;
        padding-left: 8px;
        padding-right: 17px;
        
        
        font-size: ((@font-size-base + 4px));        
        line-height: ((@line-height - 8px));
        color: @color-white;
        opacity: .3;
        
    }
    
    &__buy{
        
        display: block;
        padding: 9.5px 0;
        margin-bottom:8px;
        
        width: 135px;
        
        background: @color-green;        
        font: normal  ((@font-size-base + 1px)) / ((@line-height - 8px)) @font-family-cuprumregular; 
        color: @color-white;
        text-align: left;
        text-decoration: none;
        text-transform: uppercase;
        
        border-bottom: 3px solid @color-green-dark;
        border-radius: 3px;      
        
    }
    
    &__tab{
        
        
        display: block;
        padding: 8px 0;
        
        width: 129px;
        
        text-align: center;
        font: normal  ((@font-size-base + 1px)) / ((@line-height - 8px)) @font-family-cuprumregular; 
        color: @color-blue-dark;
        text-decoration: none;
        text-transform: uppercase;
        
        border: 3px solid @color-green-dark;
        border-radius: 3px;
        
    }
    
    &__buy:hover{
        
        background-color: @color-green-light;
        
    }
    
    &__buy:active{
        
        background-color: @color-green-dark1;
        border-bottom: 3px solid @color-green-dark1;
        
    }    
    
    &__buy:hover .icon-basket{
        
        color: @color-white;
        opacity: 1;
        
    }
    
    &__tab:hover{
        
        border-color: @color-blue-dark;
                
    }
    
    &__tab:active{
        
        border-color: @color-blue-dark;
        opacity: .3;
                
    }    
    
    z-index: 200;
    
    
}

.goods{
    
    border: 1px solid @color-gray;
    width: 218px;
    height: 316px;  
    text-align: center;
    margin: 20px;
    margin-left:0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    
    &:hover{
        
        box-shadow: 0 5px 15px 5px rgba(0,0,0,.3);
        
    }
    

    
    &:last-of-type{
        
        margin-right: 0;
        
    }
    
    &__layout{
        
        padding: 0 24px 0 28px;        
        
    }
    

    &__new{
    
        position: absolute;
        top:0;
        right:0;
        
        z-index: 300;
        
        display: inline-block;
        vertical-align: top;
        width: 60px;
        height: 59px;
        
        background: url(../img/img_new.png) 2px 0 no-repeat;
        background-size: 60px 59px;
        
    }
    
    &__image{
        
        text-align: center;
        margin: 0 auto;
        margin-bottom: 15px; 
        height: 164px;
        position: relative;
        
        img{
            
            position: absolute; 
            top:50%;
            left:28px;
            transform: translateY(-50%);
            
            
        }

        
    }
    
    &__title{
        
        font: bold ((@font-size-base + 5px)) / (( @line-height - 4px)) @font-family-ptsansbold;
        color: @color-black;
        margin: 0;  
        margin-bottom: 10px;
        max-height: 40px;
        overflow:hidden;
        
    }
    
    &__price-old{
        
        
        font: bold ((@font-size-base + 4px))/ ((@line-height - 6px)) @font-family-ptsansbold;
        color: @color-gray1;
        text-decoration: line-through;
        margin: 0;
        margin-bottom: 12px;
        
        
    }
    
    
     &__price:after{
            
            width: 0;
            height: 0;
            border-bottom: 120px solid @color-blue;
            border-left: 120px solid transparent;
            
    }    
    
    &__price{
        
        position: relative;
        
        padding: 10px 0;
        width: 140px;
        
        margin: 0 auto;
        margin-bottom: 20px;
       
        
        font: bold ((@font-size-base + 4px))/ ((@line-height - 6px)) @font-family-ptsansbold;
        color: @color-white;
        
        

        border-radius: 5px 0 0 5px;
                
    }
    
    &__price-label{
        
        position: absolute;
        width: 140px;
        height: 19px;
        box-sizing:border-box;         
        
        background-color: @color-green;
        z-index: -1;
        
    }
    
    &__price-label--top{
        
       top:0;
       left:0;
        
       border-bottom: 19px solid @color-red;
       border-right: 19px solid white; 

       border-radius: 5px 0 0 0px;   

    }
    
    &__price-label--bottom{
        
       bottom:0;
       left:0;
        
       border-top: 19px solid @color-red;
       border-right: 19px solid white; 

       border-radius: 0 0 0 5px;   
        
    }
    
    &:hover .goods-active{        
        
        display: block;        
        
    }
    

    
}


.brands{
    
    &__layout{        
        
        .layout
        
    }    
    
    &__header{
        
        background-color: @color-yellow2; 
        margin-bottom: 20px;
        
    }
    
    &__title{
        
        
        font: normal @font-size-h2 / ((@line-height + 6px)) @font-family-cuprumregular;
        text-transform: uppercase;
        color: @color-blue-dark;
        float: left;  
        margin: 0;
        padding: 29.5px 0;
        padding-left: 25px;
    }
    
    &__items{
        
        text-align: center;
        font-size:0;
        padding:0;
        margin-bottom: 65px;
        
    }  
    
        &__item{

            position: relative;
            height: 143px;
            width: 218px;
            margin:0;
            margin-right:20px;
            margin-bottom:20px;


            border: 1px solid @color-gray2;

            display: inline-block;
            vertical-align: top;

            &:nth-of-type(4n){

                margin-right:0;

            }

            img{

                padding: 28.5px 0;

            }

        }

    
    &__item:hover{
        
        box-shadow: 0 5px 15px 5px rgba(0,0,0,.3);        
            
    }
    
    &__item:active{
        
        box-shadow: 0 5px 15px 5px rgba(0,0,0,.3);    
        opacity: .3;
            
    }    
    
}

.service {
    
    background-color: @color-gray3;
    
    &__layout{        
        
        .layout
        
    }
    
    &__header{
        
        display: inline-block;
        vertical-align: top;       
        text-align: left;     
        
        
        h2{
            
            margin: 0;
        
            margin-top: 66px;
            margin-bottom: 30px;
            
            font: normal @font-size-h2 / @line-height @font-family-cuprumregular;
            color: @color-black;
            text-transform: uppercase;
            
            
        }
        
        p{
            
            margin:0;
            
            width: 400px;
            
            text-align: justify;
            font: normal @font-size-base / @line-height @font-family-ptsansregular;
            color: @color-black;    
                    
        }
        
    }
    
    &__items{      
        
        
        float: left;
        padding:0;
        margin:0;    
        margin-right: 65px;
        margin-bottom: 102px;
        width: 240px;
        position: relative;
        
        ul{
            
            margin:0;   
            margin-top: 68px;
            padding:0;
            
            
            font: bold ((@font-size-base + 8px)) / ((@line-height + 6px)) @font-family-cuprumbold;
            list-style-type: none;            
        }
                
    }
    
    &__border{
        
        position: absolute;
        top: 0;
        right: 0;
        
        display: inline-block;
        vertical-align: top;
        
        width: 10px;
        height: 297px;
        
        background: url(../img/img-border-right.png) 0 25px no-repeat;
        backgound-size: 10px 272px;
        
        z-index: 100;
        
    }
        
    
    
    &__about{
        
        float: right;
        width : 620px;  
        padding-top: 68px;

        
        img{
            
            float: right;
            margin-top: 23px;
            
        }
        
    }
    
    &__col1{
        
        float:left;
        position: relative;
        width: 620px;
            
        h4{
            
            max-width: 300px;
            
            font: normal @font-size-h4/@line-height @font-family-cuprumregular;
            color: @color-blue-dark;
            text-transform: uppercase;
            margin:0;
            margin-bottom: 31px;
            padding-top: 5px;
            
        }
        
        p{
            
            width: 300px;  
            
            font: normal @font-size-base/@line-height @font-family-ptsansregular;
            color: @color-black;
        
        }
        
        img{
            
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 100;
            
            width: 468px;
            height: 261px;
            
            
        }
    }
    
    
}

.information{
    
    margin: 83px 0;    
    
    
    &__layout{
        
        .layout
        
    }
    
    
    &__col1{
        
        float: left;
        width: 540px;
        
    }
    
    &__col2{
        
        float: right;
        
    }
    
    
    &__header{
        
        margin:0;
        margin-bottom: 28px;
        
        font: normal @font-size-h2/@line-height @font-family-cuprumregular;
        color: @color-black;
        text-transform: uppercase;      
        
    }
    
    &__content{
        
        margin:0;
        margin-bottom: 23px;
        
        font: normal @font-size-base/@line-height @font-family-ptsansregular;
        color: @color-black;     
        
    }
    
    &__list{
        
        padding: 0;
        margin: 0;
        margin-bottom :37px;
        
        list-style-type: none;
        
        font: normal ((@font-size-base+ 5px ))/((@line-height - 4px)) @font-family-cuprumregular;
        color: @color-black;
        
        
        li:before{
                
                display: inline-block;
                vertical-align: middle;    
                
                width: 25px;
                height: 2px;    
            
                background: url(../img/icon_list.png) 0 0 no-repeat;
                background-size: 25px 2px;   
            
                content: '';
                padding-right: 11px;          
            
            }
        
        li{          
 
            margin-bottom: 19px;
            
        }       

        
    }
    
    
    &__map{

        margin-top: 33px;
        margin-bottom: 33px;

    }    
    
}


/* Каталог товаров */

.catalog{
    
    &__layout{
        
        .layout  
        
    }
    
}

/* Фильтры по устройствам */

.filters{    
    
    float: left;
    
    width: 219px;    
    margin-bottom: 100px;
    
    &__header{
        
        margin:0;
        pading: 0;
        padding-top: 10.5px;
        padding-bottom: 9px;
        padding-left: 20px;
        
        background-color: @color-yellow2;
        border-radius: 3px;  
        
        font: normal @font-size-base / ((@line-height - 6px)) @font-family-ptsansregular;
        color: @color-black;
        text-transform: uppercase;       
        
        
    }
    
    &__price {
    
        height: 207px;
        border-bottom: 1px solid @color-gray;
    
        p{

            margin: 0;
            padding: 12px 0;              

            font: bold ((@font-size-base + 4px))/ ((@line-height + 6px)) @font-family-ptsansbold;
            color: @color-black;
            text-transform: uppercase;

        }
    }
    
}

.filter-mans{
    
    border-bottom: 1px solid @color-gray;
    
    li{
        
        margin-bottom: 12px;
        
    }

    
    &__header{
        
        margin: 0;
        padding:0;
        padding-top: 15px;  
        padding-bottom: 12px;
        font: bold ((@font-size-base + 4px))/ ((@line-height + 6px)) @font-family-ptsansbold;
        color: @color-black;
        text-transform: uppercase;          
        
    }
    
    &__content{
        
        list-style-type: none;
        font-size: 0;
        padding: 0;    
        padding-bottom: 7px;
    
    }
    
    &__label{
        
        font: normal ((@font-size-base + 2px))/ ((@line-height - 4px)) @font-family-ptsansregular;
        color: @color-black;
        text-transform: uppercase;  
        padding: 3px 0;
        
    }
    

    &__item{

        display: none;
        
    } 

    
    &__item + &__label:before{
        
    display: inline-block;
    vertical-align: middle;
    content: '';
        
    padding-right: 7px; 
    width: 28px;
    height: 28px;
   
    font: normal 28px/28px 'symbols-technomart';
    content: '\2610';
    opacity: .3;
        
    }
    
    &__item:checked + &__label:before{
        
        font: normal 28px/28px 'symbols-technomart';
        content: '\2611';
        opacity: .3;
    
        
    }
    
    
    &__item:last-of-type{
    
        margin-bottom: 18px;
    
    }    
    
}

.filter-power{
    
    border-bottom: 1px solid @color-gray;
    margin-bottom: 62px;
    
    li{
        
        margin-bottom: 12px;  
        
    }
    
    
    
    &__header{
        
        margin: 0;
        padding-top: 15px;
        padding-bottom: 12px; 
        
        font: bold ((@font-size-base + 4px))/ ((@line-height + 6px)) @font-family-ptsansbold;
        color: @color-black;
        text-transform: uppercase;          
        
    }
    
    &__content{
        
        list-style-type: none;
        font-size: 0;
        padding: 0;  
        
    }
    
    &__label{
        
        font: normal ((@font-size-base + 1px))/ ((@line-height - 4px)) @font-family-ptsansregular;
        color: @color-black;
        text-transform: uppercase;  
        padding: 3px 0;
        
    }    
    

    &__item{

       display: none;  

    } 

    &__item--active:before{

        content: '\25cf';

    }     

    &__item + &__label:before{

    display: inline-block;
    vertical-align: middle;
    content: '';

    padding-right: 7px; 
    width: 28px;
    height: 28px;

    font: normal 28px/28px 'symbols-technomart';
    content: '\25cb';
    opacity: .3;

    }

    &__item:checked + &__label:before{

        font: normal 28px/28px 'symbols-technomart';
        content: '\25cf';
        opacity: .3;

    }    
    
}

/*  Панель сортировки */

.catalog-items{
    

    width: 700px;     
    float:right;
    
    margin:0;       

    border-radius: 3px;  

    font: normal @font-size-base / ((@line-height - 6px)) @font-family-ptsansregular;
    color: @color-black;
    
    
    &__label{
        
        float: left;
        padding: 2.5px 0;
        margin: 0;
        
        font: normal @font-size-base/((@line-height - 6px)) @font-family-ptsansregular;
        color: @color-black;
        text-transform: uppercase;
        
    }
    
    ul{
        
        float: right;
        font-size: 0;
        padding: 2.5px 0;
        margin-right: 32px;
                
    }
      
    
    &__sort{
        
        padding: 7px 0;   
        background-color: @color-yellow2;     
        
        padding-left: 19px;
        padding-right: 5px;
    
            li{

                display: inline-block;
                vertical-align: top;  
                height: 18px;    
               

            }
        
            li:first-of-type{

                margin-right: 72px;    

            }
        
            li:nth-of-type(2){

                margin-right: 66px;    

            }

            a{

                font: normal @font-size-base / ((@line-height - 6px)) @font-family-ptsansregular;
                color: @color-black;
                opacity: .3;
                text-decoration: none;
                text-transform: uppercase;
                border-bottom: 1px dotted @color-red;                

            }
        
            a:hover{

                opacity: 1;
                color: @color-black;
                font-weight: bold;   
                border-bottom: 1px solid @color-red; 

            }
        
            a:active{

                opacity: 1;
                color: @color-red;
                font-weight: bold; 
                border-bottom: none;

            }
        
        
    } 
    
    &__sort-items{
        
        float:right;
   
        
        a{
            
            opacity: 1;
            border-bottom: none;
        }
        
        a:hover,
        a:active{
            
          border-bottom: none;  
            
        }
        
        
        i:hover{

            opacity: 1;
            color: @color-black;            

        }

        i:active{

            opacity: 1;
            color: @color-red;            

        }  
        
        
    }
    
    
    
    &--active {
        
            opacity: 1;
            color: @color-red;
            margin:0;
        
        a{        
            opacity: 1;
            color: @color-red;
            font-weight: bold;
            border-bottom: none;
            
        }
        
    }
    
    
    
    &--active:first-of-type{
        
        border: 0;
        
    }
        
    &__goods{

        font-size: 0;        
        
        .goods{
        
            margin-bottom:0;
        
        
        }
        
        .goods:nth-child(3n){
        
            margin-right:0;        
        
        }

    }
        
        
}

/* Панель пагинации */

.paginator{
    
    float: left;
    margin: 48px 0 59px 0;
    
    &__menu  {
        
        text-align: left;
    
    
        li{

            display: inline-block;
            vertical-align: top;
            margin-right: 10px;            

        }
        
        a{
            
            display: block;
            
            border: 1px solid @color-gray;
            border-radius: 3px;
            text-align: center;            
            
            padding: 11px 0;
            width: 36px;
            
            font: normal @font-size-base / ((@line-height - 10px)) @font-family-ptsansregular;
            color: @color-black;
            text-decoration: none;
            text-transform: uppercase;            

        }
        
        a:hover{            
            
            border: 1px solid @color-gray5;              
            
        }
        
        a:active{            
            
            border: 1px solid @color-red;              
            
        }
        
    }
    
    &__next a{
      
        width: 138px;
            
    }
    
    &__menu li:last-child{
        
        margin-right: 0;
        
    }
    
    &__menu--active{
        
        a{
            
            color: @color-white;
            background-color: @color-red;
            border: 1px solid @color-red;             
            
        }
        
    }
    
    
}

/* Подвал */

.main-footer{    
    
    background-color: @color-blue-dark;
   
    
    &__layout{
        
        .layout
        
    }
    
    &__row1{
        
         background-color: @color-blue-dark;
        
    }
    
    
    &__menu{
        
        float: right;
        margin: 0;
        padding: 0;       
        margin-top: 39px;
        margin-bottom: 34px;
        
        font-size: 0;
        
        li{
            
            display: inline-block;
            vertical-align: top;
            
            margin-right: 59px;          

        }
        
        li:last-of-type{
                
            margin-right: 0;
                
        }
        
        a{            
                    
            font: normal ((@font-size-base + 5px)) / @line-height @font-family-cuprumregular;
            color: @color-yellow-light;      
            
            text-decoration: none;
            
        }
        
        a:hover{
            
            text-decoration: underline;
            
        }
        
        a:active{
            
            opacity: .5;
            text-decoration: none;
            
        }
        
    }
    
    &__menu--submenu{
        
        margin: 0;
        padding: 0;
        
        a{       

            color: @color-orange-light;
            
        }
        
    }
    
    &__row2{
        
        margin: 0;   
        padding-bottom: 50px;

        
        p{
            
            float: left;
            margin: 0;
            padding: 0;         
            
            width: 380px;            
            
            font: normal ((@font-size-base + 5px))/ @line-height @font-family-cuprumregular;
            color: @color-white;
            
            
        }
        
    }
    
    &__row3{
        
        padding-top: 35px;
        padding-bottom: 30px;        
        
        background-color: @color-blue;
        
    }
    
    &__copyright{
        
        float: left;
        margin: 0;
        margin-right: 90px;
        
        width: 300px;
        
        
        font: normal ((@font-size-base + 3px))/ ((@line-height - 6px)) @font-family-cuprumregular;
        color: @color-white;      
        
    }
    
    &__social{
        
        float: left;
        
        margin: 0;
        padding: 0;        
        
        li{
            
            display: inline-block;
            vertical-align: top;    
            position: relative;
            
            width: 40px;
            height: 40px;
            margin-right: 2.4px;
            
            background-color: @color-blue-dark2;
            border-radius: 50%;
            
        }
        
        li:hover,
        li:active{
            
            background-color: @color-red;  
            opacity: 1;
            
        }
        
        li:last-of-type{
            
            margin-right: 0;
            
        }
        
        a{
            
            position: absolute;
            top:0;
            left:0;
            padding: 11px 0;
            
            font-size: 18px;
            line-height: 10.56px;
            color: @color-white;
            text-decoration: none;
            
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            
            
        }
    
        
    }
    
    &__about{
        
        float: right;
        margin: 0;
        width: 300px;
        
        p{
            
            margin: 0;
            
            font: normal ((@font-size-base + 3px)) / (( @line-height - 6px)) @font-family-cuprumregular;
            color: @color-white;
        }
        
        a {
            
            font: normal ((@font-size-base + 3px)) / (( @line-height - 6px)) @font-family-cuprumregular;
            color: @color-orange-light;            
            text-decoration: none; 
            
        }
        
        
    }
    
    &__callback{
        
        float: left;
        margin:0;  
        
        a:hover{
            
            text-decoration: underline;
            
        }
        
        a:active{
            
            text-decoration: none;
            color: @color-red;
            
        }        
        
    }
    
    &__development{
        
        float: right;
        margin:0;
        
        text-align: justify;
        padding-right: 15px; 
        
        a:hover{
            
            text-decoration: underline;
            
        }
        
        a:active{
            
            text-decoration: none;
            color: @color-red;
            
        }           
        
    }    
    
}











