/* Размеры элементов */

@width-body: 1200px;
@width-main-layout: 940px;

/* шрифты */

@font-family-cuprumbold: "CuprumBold", Arial, sans-serif;
@font-family-cuprumregular: "CuprumRegular", Arial, sans-serif;
@font-family-cuprumitalic: "CuprumItalic", Arial, sans-serif;
@font-family-ptsansregular: "PTSansRegular", Arial, sans-serif;
@font-family-ptsansbold: "PTSansBold", Arial, sans-serif;
@font-family-myriadproregular: "MyriadProRegular", Arial, sans-serif;

/* размеры шрифтов и высота-строки */

@font-size-base: 13px;

@font-size-h1: 24px;
@font-size-h2: 30px;
@font-size-h4: 36px;

@line-height: 24px;

/* цвета */


@color-white: #ffffff; 
@color-claret:#b52933; /* бардовый */
@color-red:   #ee3643;
@color-red1:  #e9292a;
@color-red2:  #ca2c37;
@color-red-dark: #ba2732;
@color-blue:  #293449;
@color-blue-dark:  #32425c;
@color-blue-dark2: #212a3a;
@color-blue-dark3: #161d29;
@color-blue-light: #4aafde; 
@color-blue1: #405069;
@color-green: #63a63e; 
@color-green1: #85d179;
@color-green2: #00ca74;
@color-green-dark: #367315;
@color-green-dark1: #518534;
@color-green-light: #5fbb2d;
@color-yellow-light: #f1f5f7;
@color-yellow1: #f6b22d;
@color-yellow2: #f7f3ec;
@color-orange-light: #ffd180;
@color-black: #000000;
@color-brown: #dda028;
@color-brown1: #ababab;
@color-brown2: #d4d1cb;
@color-pink: #cc79d1;
@color-gray: #e5e5e5;
@color-gray1: #999999;
@color-gray2: #e7e7e7;
@color-gray3: #f2f6f8;
@color-gray4: #d7dcde;
@color-gray5: #bdc6ca;
